.elements {
	background-color: #ffffff;
}

.elements span {
	font-size: 15px;
}

.elements img {
	width: 44px;
	height: 44px;
}

/* // Size can also be negative; see how it's smaller than the element */
.raise {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	/* box-shadow: #182a4a 0px 0px 0px 1px, #004a83 0px 0px 0px 2px, #00565f 0px 0px 0px 4px; */
	/* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
	/* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
	/* height: 44px; */
	/* width: 44px; */
	border-radius: 4px;
	line-height: 1;
	transform: translateY(-0.3em);
	background-color: #ffffff;
	transition: 0.3s;
}

.card-image {
	height: 150px;
	width: 150px;
}

div.data {
	scroll-margin-top: 100px;
}

div.data.active {
	/* border: 1px solid red; */
	box-shadow: rgba(51, 202, 170, 0.4) -5px 5px, rgba(51, 202, 170, 0.3) -10px 10px, rgba(51, 202, 170, 0.2) -15px 15px, rgba(51, 202, 170, 0.1) -20px 20px, rgba(51, 202, 170, 0.05) -25px 25px;
	/* transform: scale(1.01); */
	/* z-index: 1000; */
}

.data.active .card-image {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
	/* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
	/* box-shadow: #182a4a 0px 0px 0px 1px, #004a83 0px 0px 0px 2px, #00565f 0px 0px 0px 4px; */
	border-radius: 10px;
	line-height: 1;
	transform: translateY(-0.45em);
	transition: 0.3s;
}

.card-img-container {
	padding-top: 20px;
	text-align: center;
}

.card-body {
	padding-top: 0px;
}

.easyimage.easyimage-full {
	text-align: center;
}
