
#formulario {
    /* background: rgba(63, 64, 66, 0.7); */
    margin-top: 50px;
    background: rgba(101, 103, 105, 0.7);
    transition: 0.5s;
    width: 50%;
}
#formulario h1{
    margin: 30px;
    padding: 0;
}

.form-label {
    color: rgba(204, 211, 226);
    font-size: 20px;
}


.form-control{
    width: 85%;
    font-size: 18px;
    margin: auto;
}

#tabla{
    text-align: left;
}

#inicio .btn-get-started {
    margin-left: 25px;
    margin-bottom: 25px;
}

#inicio h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
  @media (max-width: 994px) {
    #inicio h1 {
      font-size: 25px;
      line-height: 36px;
      margin: 10px;
      
     
    }
    .form-control{
        font-size: 10px;
    }

    .form-label{
        font-size: 15px;
    }

    #formulario{

        width: 100%;
    }
    
  }

.loginfixed{
    margin-top: 360px;
    transition: 0.5s;
}

@media (min-width: 994px){
    .loginfixed {
        margin-top: 75px;
    }
}

.info-container {
    margin: 25px;
    height: 325px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 25px;
    overflow: auto;
}

.row-img {
    margin-top: 50px;
    width: 5vh;
}

#details {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.infografia-grid {
    background: url("../img/prueba.jpg") top center;
    /* opacity: 0.75; */
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    border-style: solid;
}

.infografia-text {
    font-weight: bolder;
    color: black
}

.cruz-grid {
    display: grid;
    margin: 25px;
    grid-template-columns: repeat(3, minmax(min(100%, 250px), 1fr));
    grid-template-rows: repeat(3, minmax(min(100%, 250px), 1fr));
    gap: 25px;
}

.figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cruz-nacimiento {
    /* background-color: red; */
    grid-column: 2/3;
    grid-row: 2/3;
}

.cruz-concepcion {
    /* background-color: red; */
    grid-column: 2/3;
    grid-row: 1/2;
}

.cruz-destino {
    /* background-color: red; */
    grid-column: 2/3;
    grid-row: 3/4;
}

.cruz-izquierdo {
    /* background-color: red; */
    grid-column: 1/2;
    grid-row: 2/3;
}

.cruz-derecho {
    /* background-color: red; */
    grid-column: 3/4;
    grid-row: 2/3;
}